@import url("https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

h1,
h2,
h3 {
  font-size: 48px;
  font-family: "Rubik";
  font-weight: 500;
  color: #252b46;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
}

a:hover {
  color: #fa5757;
}

p {
  opacity: 50%;
  font-weight: 400;
  line-height: 1.5;
  font-size: 18px;
}

button {
  font-weight: 500;
}

main .extensions-container {
  padding: 5% 0;
}

main .extensions-container .extensions-container-heading {
  max-width: 541px;
  max-height: 124px;
  text-align: center;
  margin: auto;
  margin-bottom: 48px;
}

main .extensions-container .extensions-container-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 910px;
  height: 451px;
  margin: auto;
}

main .extensions-container .extensions-container-cards .card {
  padding: 49px 24px 24px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  height: 371px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.2);
          box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.2);
}

main .extensions-container .extensions-container-cards .card:nth-child(2) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .extensions-container .extensions-container-cards .card:nth-child(3) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

main .extensions-container .extensions-container-cards .card .details {
  text-align: center;
}

main .extensions-container .extensions-container-cards .card .details h3 {
  margin-bottom: 0.5rem;
}

main .extensions-container .extensions-container-cards .card .details p {
  font-weight: 400;
  font-size: 15px;
  line-height: unset;
}

main .extensions-container .extensions-container-cards .card button {
  border: none;
  height: 48px;
  border-radius: 5px;
  width: 232px;
  font-size: 14px;
  font-weight: 500;
  background-color: #5368df;
  color: white;
  -webkit-box-shadow: 0px 8px 8px -4px rgba(74, 94, 208, 0.2);
          box-shadow: 0px 8px 8px -4px rgba(74, 94, 208, 0.2);
}

main .faq-container {
  padding: 5% 10% 150px 10%;
}

main .faq-container .faq-container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  max-width: 540px;
  height: 124px;
  margin: 0 auto;
  margin-bottom: 56px;
}

main .faq-container .faq-container-menu {
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 54px;
}

main .faq-container .faq-container-menu .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 19px 0;
}

main .faq-container .faq-container-menu .question p {
  color: #252b46;
  opacity: 100%;
}

main .faq-container .faq-container-menu .question .image {
  padding-right: 24px;
  width: 43px;
  height: 12px;
  stroke: #5368df;
  -webkit-transform-origin: 10px 5px;
          transform-origin: 10px 5px;
}

main .faq-container .faq-container-menu .question .rotate {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  stroke: #fa5757;
}

main .faq-container .faq-container-menu .answer {
  overflow: hidden;
}

main .faq-container .faq-container-menu .answer p {
  padding-bottom: 19px;
}

main .faq-container .faq-container-menu hr {
  opacity: 50%;
}

main .faq-container button {
  display: block;
  border: none;
  height: 48px;
  margin: auto;
  border-radius: 5px;
  width: 113px;
  font-size: 14px;
  font-weight: 600;
  background-color: #5368df;
  color: white;
  -webkit-box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
          box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
}

footer .contactus-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 58px 0 74px 0;
  background-color: #5368df;
  text-align: center;
  height: 360px;
}

footer .contactus-container p {
  color: white;
  opacity: 100%;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 5px;
}

footer .contactus-container h2 {
  color: white;
  width: 411px;
  margin: auto;
}

footer .contactus-container input {
  width: 300px;
  height: 48px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-right: 16px;
}

footer .contactus-container button {
  border: none;
  height: 48px;
  margin: auto;
  border-radius: 5px;
  width: 113px;
  font-size: 14px;
  font-weight: 600;
  background-color: #fa5757;
  color: white;
  -webkit-box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
          box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
}

footer .footer-container {
  background-color: #252b46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 36px 165px;
}

footer .footer-container .footer-container-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 507px;
  height: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container .footer-container-links img {
  color: white;
}

footer .footer-container .footer-container-links p {
  margin-right: 5px;
  opacity: 100%;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
}

footer .footer-container .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 88px;
}
/*# sourceMappingURL=index.css.map */